{% extends "_layouts/_mainLayout.twig" %}

{% block title %}
  Home Page
{% endblock %}

{% block body %}
  <ul>
    {% for item in 0..3 %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
{% endblock %}